<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <link href="/static/vis/dist/vis.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src="/static/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/charts/loader.js"></script>
    <script src="/static/vis/dist/vis.js"></script>

    <script>
    var risk_table_data;
    var event_table_data;
    var context = {{context|safe}};
    var status = 1;

    $( function() {
      $( "#header" ).load("/static/header.html");
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      m = context.mission;
      $('#m_id').text(m.id);
      $('#m_status').text(m.status_description);
      $('#m_risk').text(m.risk_description);
      $('#m_name').text(m.name);
      $('#m_organization').text(m.organization);
      $('#m_start').text(new Date(m.start_time));
      $('#m_end').text(new Date(m.end_time));

      $('#m_type').text(m.mission_type);
      $('#m_systems').html('<div id="systems_table"></div>');

      /*sys_data = new google.visualization.DataTable();
      sys_data.addColumn('number', 'Status');
      sys_data.addColumn('string', 'System Name');
      sys_data.addColumn('string', "Status description");

      for(i = 0; i < m.systems.length; i++){
        s = m.systems[i];
        sys_data.addRow([s.status, s.name, s.status_description]);
      }

      sys_table = new google.visualization.Table(document.getElementById('systems_table'));
      formatter = getColorFormatter();
      formatter.format(sys_data, 0);
      options = {showRowNumber: false,  allowHtml:true}

      sys_table.draw(sys_data, options);*/

    //STATUS TREE
    // create an array with nodes
    var nodes = new vis.DataSet(m.nodes);

    // create an array with edges
    var edges = new vis.DataSet(m.edges);

    // create a network
    var container = document.getElementById('dependency_tree');

    var data = {
      nodes: nodes,
      edges: edges,
    };
    var options = {
        layout: {
          hierarchical: {
            sortMethod: "directed"
          }
        },
        edges: {
          smooth: true,
          arrows: {to : true }
        }
      };
    var network = new vis.Network(container, data, options);

    //RISK TREE
    // create an array with nodes
    nodes = new vis.DataSet(m.risk_nodes);

    // create an array with edges
    edges = new vis.DataSet(m.edges);

    // create a network
    container = document.getElementById('risk_tree');

    data = {
      nodes: nodes,
      edges: edges,
    };
    options = {
        layout: {
          hierarchical: {
            sortMethod: "directed"
          }
        },
        edges: {
          smooth: true,
          arrows: {to : true }
        }
      };
    network = new vis.Network(container, data, options);

    $("#tabs").tabs();
    //Toggle System Status / Risk
    $("#toggle_status_risk_button").on("click", function(){
      if(status == 1){
        $("#dependency_tree").hide();
        $("#risk_tree").show();
        $("#status_risk_label").text("System Risk");
        $("#toggle_status_risk_button").text("Show Status");
        status = 0;
      }else{
        $("#risk_tree").hide();
        $("#dependency_tree").show();
        $("#status_risk_label").text("System Status");
        $("#toggle_status_risk_button").text("Show Risk");
        status = 1;
      }
    })

    //Table
    var risk_table = m.risk_table;
    var event_table = m.event_table;

    function drawTable() {
      //Risk TABLE__________________
      risk_table_data = new google.visualization.DataTable();
      risk_table_data.addColumn('string', 'Threat');
      risk_table_data.addColumn('string', 'Threat Actor');
      risk_table_data.addColumn('string', 'Targeted Vulnerability');
      risk_table_data.addColumn('number', 'Vulnerability Severity');
      risk_table_data.addColumn('string', 'Potential Target System')

      for (i=0; i < risk_table.length; i++){
        r = risk_table[i];
        risk_table_data.addRow([r.threat_name, r.threat_actor, r.targeted_vulnerability, r.vulnerability_severity, r.system_name]);
      }

      var table = new google.visualization.Table(document.getElementById('risk_table'));
      var options = {showRowNumber: false, width: '100%', height:'100%', allowHtml:true}

      //var formatter = getMissionColorFormatter();
      //formatter.format(data, 0);
      //formatter.format(data, 1);

      table.draw(risk_table_data, options);

      //________________EVENT TABLE__________________

      event_table_data = new google.visualization.DataTable();
      event_table_data.addColumn('string', 'System');
      event_table_data.addColumn('string', 'Event');
      event_table_data.addColumn('number', 'Event Type');
      event_table_data.addColumn('string', 'Confidentiality Impact');
      event_table_data.addColumn('string', 'Integrity Impact')
      event_table_data.addColumn('string', 'Availability Impact')

      for (i=0; i < event_table.length; i++){
        e = event_table[i];
        event_table_data.addRow([e.system_name, e.event_name, e.type, e.confidentiality_impact, e.integrity_impact, e.availability_impact]);
      }

      var e_table = new google.visualization.Table(document.getElementById('event_table'));

      //var formatter = getMissionColorFormatter();
      //formatter.format(data, 0);
      //formatter.format(data, 1);

      e_table.draw(event_table_data, options);


    }

    });//end ready


    </script>
    <style>
    #add_system_btn {
      float: right;
    }
    .m_label {
      font-size:1.1em;
      font-family: Arial,Helvetica,sans-serif;
      float: left;
      width:130px;
      margin:0px 2em 0px .4em
     }
    .m_value {
      font-size: 1.1em;
      font-family: Arial,Helvetica,sans-serif;
      padding: 4px;
      }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }

    #dependency_tree {
      width: 800px;
      height: 600px;
      border: 1px solid lightgray;
    }

    #risk_tree {
      width: 800px;
      height: 600px;
      border: 1px solid lightgray;
    }

  </style>
  </head>
  <body>
    <div id="header"></div>

    <h1>Mission</h1>

  <div title="Mission details">
    <div class="m_label"><b>Mission ID</b></div>
    <div class="m_value" id="m_id"></div>

    <div class="m_label"><b>Mission name</b></div>
    <div class="m_value" id="m_name"></div>

    <div class="m_label"><b>Mission Type:</b></div>
    <div class="m_value" id="m_type"></div>

    <div class="m_label"><b>Organization:</b></div>
    <div class="m_value" id="m_organization"></div>

    <div class="m_label"><b>Start time:</b></div>
    <div class="m_value" id="m_start"></div>

    <div class="m_label"><b>End time:</b></div>
    <div class="m_value" id="m_end"></div>

    <div class="m_label"><b>Mission Status</b></div>
    <div class="m_value" id="m_status"></div>

    <div class="m_label"><b>Mission Risk</b></div>
    <div class="m_value" id="m_risk"></div>

    <div id="m_systems"> </div>
    <div id="status_risk_label" class="m_label"><b>System Status</b>
    </div>
    <button id="toggle_status_risk_button" class="ui-state-default ui-corner-all">Show Risk</button>
  </div>
  <br />
  <div id="tabs">
    <ul>
      <li><a href="#risk_tab">Risk</a></li>
      <li><a href="#status_tab">Status</a></li>
    </ul>
    <div id="risk_tab">
      <div id="risk_tree"></div>
      <div id="risk_table"></div>
    </div>
    <div id="status_tab">
      <div id="dependency_tree"></div>
      <div id="event_table"></div>
    </div>
  </div>



  </body>
</html>
