<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <link rel="stylesheet" href="/static/fullcalendar-3.0.1/fullcalendar.css" />
    <script type='text/javascript' src="/static/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/moment.min.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/fullcalendar.js"></script>
    <script type="text/javascript" src="/static/charts/loader.js"></script>

    <script>
    var data;
    var context = {{context|safe}};

    $( function() {
      $( "#header" ).load("/static/header.html");
      $( "#tabs" ).tabs();
      $( "#mission_selector" ).selectmenu();

      //Create the tables
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      //var data;
      var table;
      var options;
      var mission_map = {};
      var calendar_events = [];

      var missions= context.missions;

      function getColorFormatter(){
        var formatter = new google.visualization.ColorFormat();
        formatter.addRange(100, null, '#83d974', '#83d974');
        formatter.addRange(46, 99, '#ffc946', '#ffc946');
        formatter.addRange(0, 45, '#f18a72', '#f18a72');
        return formatter;
      }

      function populateMissionDrill(r){
        m = mission_map[data.getValue(r, 1)];
        $('#m_id').text(m.id);
        $('#m_status').text(m.status);
        $('#m_name').text(m.name);
        $('#m_organization').text(m.organization);
        $('#m_start').text(new Date(m.start_time));
        $('#m_end').text(new Date(m.end_time));
        $('#m_type').text(m.mission_type);

        $('#m_deptree').attr('href', "/mission_mapping/missions/"+m.id);

        $('#m_systems').html('<div id="systems_table"></div>');

        sys_data = new google.visualization.DataTable();
        sys_data.addColumn('number', 'Status');
        sys_data.addColumn('string', 'System Name');
        sys_data.addColumn('string', "Status description");

        for(i = 0; i < m.systems.length; i++){
          s = m.systems[i];
          sys_data.addRow([s.status, s.name, s.status_description]);
        }

        sys_table = new google.visualization.Table(document.getElementById('systems_table'));
        formatter = getColorFormatter();
        formatter.format(sys_data, 0);
        options = {showRowNumber: false,  allowHtml:true}

        sys_table.draw(sys_data, options);

      }

      function drawTable() {
        data = new google.visualization.DataTable();
        data.addColumn('number', 'Risk');
        data.addColumn('string', 'ID');
        data.addColumn('string', 'Mission');
        data.addColumn('string', 'Organization')
        data.addColumn('datetime', 'Start Time');
        data.addColumn('datetime', 'End Time');
        //data.addRows([
          //[100, 'M1','Take pictures', 'Intel', new Date(2016, 9, 30, 12, 00, 00), new Date(2016, 9, 30, 18, 00, 00)],
          //[25, 'M2', 'Drop bombs', 'Bombers',  new Date(2016, 9, 30, 14, 00, 00), new Date(2016, 9, 30, 18, 00, 00)],
          //[75, 'M3', 'Hack bad guys', '24 AF',  new Date(2016, 9, 30, 15, 00, 00), new Date(2016, 9, 30, 23, 00, 00)]
        //]);
        for (i=0; i < missions.length; i++){
          m = missions[i];
          mission_map[String(m.id)] = m;
          data.addRow([m.status, String(m.id), m.name, m.organization, new Date(m.start_time), new Date(m.end_time)]);

          e = {
            title: m.name,
            start: new Date(m.start_time),
            end: new Date(m.end_time),
          }
          calendar_events.push(e);
        }
        table = new google.visualization.Table(document.getElementById('current_mission_table'));
        options = {showRowNumber: false, width: '100%', height:'100%', allowHtml:true}

        formatter = getColorFormatter();
        formatter.format(data, 0);

        table.draw(data, options);

        google.visualization.events.addListener(table, 'select', function(){
          s = table.getSelection();
          row = s[0].row;
          populateMissionDrill(row);
          $( "#mission_drill" ).dialog( "open" );
        });

      }

      //End create table

      //Create the add mission box

      //what to do when you add mission
      function addMission(){
        data.addRow([100,
                     $('#id').val(),
                     $('#name').val(),
                     $('#organization').val(),
                     new Date($('#start')[0].valueAsNumber),
                     new Date($('#end')[0].valueAsNumber)
                   ]);
        formatter = getColorFormatter();
        formatter.format(data, 0);
        table.draw(data, options);
        dialog.dialog("close");
        return true;
      }

      dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 650,
        width: 450,
        modal: true,
        show: {
          effect: "fade",
          duration: 500
        },
        hide: {
          effect: "fade",
          duration: 500
        },
        position: {
          my: "top",
          at: "top",
          of: window,
        },
        buttons: {
          "Save Mission": addMission,
          Cancel: function() {
            dialog.dialog( "close" );
          }
        },
        close: function() {
          form[ 0 ].reset();
        }
      });

      form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addMission();
      });

      $( "#add_mission_btn" ).button().on( "click", function() {
        dialog.dialog( "open" );
      });
      // End add mission box

      //Mission drills
      $( "#mission_drill" ).dialog({
      autoOpen: false,
        show: {
          effect: "fold",
          duration: 600
        },
        hide: {
          effect: "fold",
          duration: 600
        },
        width: "50%",
        position: {
          my: "top",
          at: "center",
          of: $('#tabs')
        }
      });

      //End mission drills

      //calendar
      $("#tabs-2_link").click(function(){
        $('#calendar').fullCalendar({
          header: {
        				left: 'prev,next today',
        				center: 'title',
        				right: 'month,agendaWeek,agendaDay,listWeek'
        			},
        			navLinks: true, // can click day/week names to navigate views
        			editable: false,
        			eventLimit: true, // allow "more" link when too many events
        			events: calendar_events,
        });
      });

      //end calendar
      //systems autopopulate
      var availableSystems= [
       "NIPR",
       "SIPR",
       "SharePoint",
       "CVA",
       "Weather",
       "GCCS",
       "Intelink",
       "ACAS",
     ];
     function split( val ) {
       return val.split( /,\s*/ );
     }
     function extractLast( term ) {
       return split( term ).pop();
     }

     $( "#systems" )
       // don't navigate away from the field on tab when selecting an item
       .on( "keydown", function( event ) {
         if ( event.keyCode === $.ui.keyCode.TAB &&
             $( this ).autocomplete( "instance" ).menu.active ) {
           event.preventDefault();
         }
       })
       .autocomplete({
         minLength: 0,
         source: function( request, response ) {
           // delegate back to autocomplete, but extract the last term
           response( $.ui.autocomplete.filter(
             availableSystems, extractLast( request.term ) ) );
         },
         focus: function() {
           // prevent value inserted on focus
           return false;
         },
         select: function( event, ui ) {
           var terms = split( this.value );
           // remove the current input
           terms.pop();
           // add the selected item
           terms.push( ui.item.value );
           // add placeholder to get the comma-and-space at the end
           terms.push( "" );
           this.value = terms.join( ", " );
           return false;
         }
       });

    });//end ready


    </script>
    <style>
    #add_mission_btn {
      float: right;
    }
    .m_label {
      width:120px;
      padding: 3px; }
    .m_value {
      float:right;
      width: 65%
      }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
  </style>
  </head>
  <body>
    <div id="header"></div>

    <div id="dialog-form" title="Add new mission">
    <form>
      <fieldset>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
        <label for="type">Type</label>
        <select name="type" id="type">
          <option selected="selected">ISR</option>
          <option>Global mobility</option>
          <option>Global strike</option>
          <option>Cyber Defense</option>
        </select>
        <label for="organization">Organization</label>
        <input type="text" name="organization" id="organization" value="" class="text ui-widget-content ui-corner-all">
        <label for="start">Start time</label>
        <input type="datetime-local" name="start" id="start" value="" class="text ui-widget-content ui-corner-all">
        <label for="end">End time</label>
        <input type="datetime-local" name="end" id="end" value="" class="text ui-widget-content ui-corner-all">
        <label for="systems">Systems</label>
        <input name="systems" id="systems" size="50">
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>

  <div id="mission_drill" title="Mission details">
    <div class="m_value" id="m_id"></div>
    <div class="m_label"><b>Mission ID</b></div>

    <div class="m_value" id="m_status"></div>
    <div class="m_label"><b>Mission Status</b></div>

    <div class="m_value" id="m_name"></div>
    <div class="m_label"><b>Mission name</b></div>

    <div class="m_value" id="m_type"></div>
    <div class="m_label"><b>Mission Type:</b></div>

    <div class="m_value" id="m_organization"></div>
    <div class="m_label"><b>Organization:</b></div>

    <div class="m_value" id="m_start"></div>
    <div class="m_label"><b>Start time:</b></div>

    <div class="m_value" id="m_end"></div>
    <div class="m_label"><b>End time:</b></div>

    <a class="m_value" id="m_deptree">View dependency tree</a>
    <div class="m_label"><b>Systems:</b></div>
    <div id="m_systems"> </div>
    <!--<form>
      <fieldset>
        <label for="m_id">ID</label>
        <input type="text" name="m_id" id="m_id" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_status">Current Status</label>
        <input type="text" name="m_status" id="m_status" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_name">Name</label>
        <input type="text" name="m_name" id="m_name" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_type">Type</label>
        <input type="text" name="m_type" id="m_type" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_organization">Organization</label>
        <input type="text" name="m_organization" id="m_organization" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_start">Start time</label>
        <input type="datetime-local" name="m_start" id="m_start" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_end">End time</label>
        <input type="datetime-local" name="m_end" id="m_end" value="" class="text ui-widget-content ui-corner-all">
        <label for="m_systems">Systems Status</label>
        <input type="textbox" name="m_systems" id="m_systems" value="" class="text ui-widget-content ui-corner-all">
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form> -->
</div>

    <h1>Missions</h1>
    <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Today's Missions</a></li>
      <li><a id="tabs-2_link" href="#tabs-2">Upcoming Missions</a></li>
      <!--<li><a href="#tabs-3">Missions Map</a></li>-->
      <button class="ui-button ui-widget ui-corner-all" id="add_mission_btn">Add Mission</button>
    </ul>
    <div id="tabs-1">
      <div id="current_mission_table"></div>
    </div>
    <div id="tabs-2">
      <div id='calendar'></div>
    </div>
    <!--<div id="tabs-3">
      <form action="#">
        <fieldset>
          <label for="mission_selector">Select a mission to view</label>
          <select name="mission_selector" id="mission_selector">
            <option selected="selected">Take pictures</option>
            <option>Drop bombs</option>
            <option>Hack bad guys</option>
          </select>
        </fieldset>
      </form>
      <p>Pretty picture of selected mission</p>
      <p>Should depict mission and show which systems it depends on and their status.</p>
    </div>-->
  </div>
  </body>
</html>
