<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <link rel="stylesheet" href="/static/fullcalendar-3.0.1/fullcalendar.css" />
    <script type='text/javascript' src="/static/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/moment.min.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/fullcalendar.js"></script>
    <script type="text/javascript" src="/static/charts/loader.js"></script>

    <script>
    $( function() {
      $( "#header" ).load("/static/header.html");
      $( "#tabs" ).tabs();
      $( "#asi_selector" ).selectmenu();

      //Create the tables
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      var data;
      var table;
      var options;

      function drawTable() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'ID');
        data.addColumn('string', 'Systems');
        data.addColumn('string', 'Organization')
        data.addColumn('datetime', 'Start Time');
        data.addColumn('datetime', 'End Time');
        data.addRows([
          ['ASI2016-001','Intelink', '25 AF', new Date(2016, 9, 30, 12, 00, 00), new Date(2016, 9, 30, 18, 00, 00)],
          ['ASI2016-002', 'Langley Gateway router', '83 NOS',  new Date(2016, 9, 30, 14, 00, 00), new Date(2016, 9, 30, 18, 00, 00)],
          ['ASI2016-003', 'WP SharePoint', '24 AF',  new Date(2016, 9, 30, 15, 00, 00), new Date(2016, 9, 30, 23, 00, 00)]
        ]);

        table = new google.visualization.Table(document.getElementById('current_asi_table'));
        options = {showRowNumber: true, width: '100%', height:'100%'}
        table.draw(data, options);
      }

      //End create table

      //Create the add mission box

      //what to do when you add mission
      function addMission(){
        data.addRow([$('#asi_id').val(),
                     $('#systems').val(),
                     $('#organization').val(),
                     new Date($('#start')[0].valueAsNumber),
                     new Date($('#end')[0].valueAsNumber)
                   ]);
        table.draw(data, options);
        dialog.dialog("close");
        return true;
      }

      dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 550,
        width: 450,
        modal: true,
        buttons: {
          "Add ASI": addMission,
          Cancel: function() {
            dialog.dialog( "close" );
          }
        },
        close: function() {
          form[ 0 ].reset();
        }
      });

      form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addMission();
      });

      $( "#add_asi_btn" ).button().on( "click", function() {
        dialog.dialog( "open" );
      });
      // End add mission box

      //calendar
      $("#tabs-2_link").click(function(){
        $('#calendar').fullCalendar({
          header: {
        				left: 'prev,next today',
        				center: 'title',
        				right: 'month,agendaWeek,agendaDay,listWeek'
        			},
        			navLinks: true, // can click day/week names to navigate views
        			editable: false,
        			eventLimit: true, // allow "more" link when too many events
        			events: [
        				{
        					title: 'All Day Mission',
        					start: '2016-10-01'
        				},
        				{
        					title: 'Long Mission',
        					start: '2016-10-07',
        					end: '2016-10-10'
        				},
        				{
        					id: 999,
        					title: 'Repeating Mission',
        					start: '2016-10-09T16:00:00'
        				},
        				{
        					id: 999,
        					title: 'Repeating Mission',
        					start: '2016-10-16T16:00:00'
        				},
        				{
        					title: 'Conference',
        					start: '2016-10-11',
        					end: '2016-10-13'
        				},
        				{
        					title: 'Mission',
        					start: '2016-10-12T10:30:00',
        					end: '2016-10-12T12:30:00'
        				},
        				{
        					title: 'Mission',
        					start: '2016-10-12T14:30:00'
        				},
        				{
        					title: 'Another Mission',
        					start: '2016-10-13T07:00:00'
        				}
        			]
        });
      });

    });//end ready


    </script>
    <style>
    #add_asi_btn {
      float: right;
    }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
  </style>
  </head>
  <body>
    <div id="header"></div>

    <div id="dialog-form" title="Add new ASI">
    <form>
      <fieldset>
        <label for="asi_id">ID</label>
        <input type="text" name="asi_id" id="asi_id" value="" class="text ui-widget-content ui-corner-all">
        <label for="systems">Systems</label>
        <input type="text" name="systems" id="systems" value="" class="text ui-widget-content ui-corner-all">
        <label for="organization">Organization</label>
        <input type="text" name="organization" id="organization" value="" class="text ui-widget-content ui-corner-all">
        <label for="start">Start time</label>
        <input type="datetime-local" name="start" id="start" value="" class="text ui-widget-content ui-corner-all">
        <label for="end">End time</label>
        <input type="datetime-local" name="end" id="end" value="" class="text ui-widget-content ui-corner-all">

        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>

    <h1>Service Interruptions</h1>
    <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Approved ASIs</a></li>
      <li><a href="#tabs-1.5">Pending ASIs</a></li>
      <li><a id="tabs-2_link" href="#tabs-2">Upcoming ASIs</a></li>
      <li><a href="#tabs-3">ASI Map</a></li>
      <button class="ui-button ui-widget ui-corner-all" id="add_asi_btn">Add ASI</button>
    </ul>
    <div id="tabs-1">
      <div id="current_asi_table"></div>
    </div>
    <div id="tabs-1.5">
      <div id="pending_asi_table"></div>
    </div>
    <div id="tabs-2">
      <div id='calendar'></div>
    </div>
    <div id="tabs-3">
    <form action="#">

      <fieldset>
        <label for="asi_selector">Select an ASI to view</label>
        <select name="asi_selector" id="asi_selector">
          <option selected="selected">ASI2016-001</option>
          <option>ASI2016-002</option>
          <option>ASI2016-003</option>
        </select>
      </fieldset>
    </form>
      <p>Pretty picture of the selected ASI</p>
      <p>Should be able to view systems affected by ASI and their dependencies.</p>
    </div>
  </div>
  </body>
</html>
