<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script type='text/javascript' src="/static/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#header" ).load("/static/header.html");
    } );
    </script>
    <style>
    .ui-menu .ui-menu-item {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .ui-menu:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
  }
    </style>
  </head>
  <body>
    <div id="header"></div>
    <h2>Systems</h2>
  </body>
</html>
