<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <link rel="stylesheet" href="/static/fullcalendar-3.0.1/fullcalendar.css" />
    <script type='text/javascript' src="/static/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/moment.min.js"></script>
    <script type='text/javascript' src="/static/fullcalendar-3.0.1/fullcalendar.js"></script>
    <script type="text/javascript" src="/static/charts/loader.js"></script>

    <script>
    var data;
    var context = {{context|safe}};

    $( function() {
      $( "#header" ).load("/static/header.html");
      $( "#tabs" ).tabs();
      $( "#mission_selector" ).selectmenu();

      //Create the tables
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      //var data;
      var table;
      var options;
      var system_map = {};

      var systems = context.systems;

      function getColorFormatter(){
        var formatter = new google.visualization.ColorFormat();
        formatter.addRange(100, null, '#83d974', '#83d974');
        formatter.addRange(46, 99, '#ffc946', '#ffc946');
        formatter.addRange(0, 45, '#f18a72', '#f18a72');
        return formatter;
      }

      function populateSystemDrill(r){
        s = system_map[data.getValue(r,1)];
        $('#s_id').text(s.id);
        $('#s_status').text(s.status_description);
        $('#s_name').text(s.name);
        $('#s_organization').text(s.organization);
        $('#s_type').text(s.system_type);
        $('#s_deptree').attr('href', "/mission_mapping/services/"+s.id);
        $('#s_systems').html('<div id="dependency_table"></div>');

        sys_data = new google.visualization.DataTable();
        sys_data.addColumn('number', 'Status')
        sys_data.addColumn('string', 'Service Name');
        sys_data.addColumn('string', "Status description");

        for(i=0; i < s.dependencies.length; i++){
          d = s.dependencies[i];
          sys_data.addRow([d.status, d.name, d.status_description])
        }

        //sys_data.addRows([
        //  [85, "Base Gateway", "bandwidth delays"],
        //  [100, "Internal network", "up and running"],
        //  [100, "DISA circuit", "up and running"]
        //])

        sys_table = new google.visualization.Table(document.getElementById('s_dependencies'));
        formatter = getColorFormatter();
        formatter.format(sys_data, 0);
        options = {showRowNumber: false,  allowHtml:true}

        sys_table.draw(sys_data, options);

      }

      function drawTable() {
        data = new google.visualization.DataTable();
        data.addColumn('number', 'Status');
        data.addColumn('string', 'ID');
        data.addColumn('string', 'System name');
        data.addColumn('string', 'Organization');
        data.addColumn('string', 'Status description');
        //data.addRows([
        //  [100, 'S1','Intelink', 'Intel'],
        //  [25, 'S2', 'GCCS', 'PMO'],
        //  [75, 'S3', 'NIPR', '24 AF']
        //]);

        for(i=0; i<systems.length;i++){
          s=systems[i];
          system_map[String(s.id)] = s;
          data.addRow([s.status, String(s.id), s.name, s.organization, s.status_description]);
        }

        table = new google.visualization.Table(document.getElementById('system_table'));
        options = {showRowNumber: false, width: '100%', height:'100%', allowHtml:true}

        formatter = getColorFormatter();
        formatter.format(data, 0);

        table.draw(data, options);

        google.visualization.events.addListener(table, 'select', function(){
          s = table.getSelection();
          row = s[0].row;
          populateSystemDrill(row);
          $( "#system_drill" ).dialog( "open" );
        });

      }

      //End create table

      //Create the add mission box

      //what to do when you add mission
      function addSystem(){
        s = {};
        s['status'] = parseInt($('#status').val());
        s['id'] = String($('#id').val());
        s['name'] = $('#name').val();
        s['organization'] = $('#organization').val();
        s['status_description'] = $('#status_description').val();
        s['dependencies'] = [];
        system_map[s['id']] = s;

        data.addRow([parseInt($('#status').val()),
                     $('#id').val(),
                     $('#name').val(),
                     $('#organization').val(),
                     $('#status_description').val(),
                   ]);
        formatter = getColorFormatter();
        formatter.format(data, 0);
        table.draw(data, options);
        dialog.dialog("close");
        return true;
      }

      dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 650,
        width: 450,
        modal: true,
        show: {
          effect: "fade",
          duration: 500
        },
        hide: {
          effect: "fade",
          duration: 500
        },
        position: {
          my: "top",
          at: "top",
          of: window,
        },
        buttons: {
          "Save Service": addSystem,
          Cancel: function() {
            dialog.dialog( "close" );
          }
        },
        close: function() {
          form[ 0 ].reset();
        }
      });

      form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addSystem();
      });

      $( "#add_system_btn" ).button().on( "click", function() {
        dialog.dialog( "open" );
      });
      // End add mission box

      //System drills
      $( "#system_drill" ).dialog({
      autoOpen: false,
        show: {
          effect: "fold",
          duration: 600
        },
        hide: {
          effect: "fold",
          duration: 600
        },
        width: "50%",
        position: {
          my: "top",
          at: "center",
          of: $('#tabs')
        }
      });

      //End mission drills

      //systems autopopulate
      var availableSystems= [
       "NIPR",
       "SIPR",
       "SharePoint",
       "CVA",
       "Weather",
       "GCCS",
       "Intelink",
       "ACAS",
     ];
     function split( val ) {
       return val.split( /,\s*/ );
     }
     function extractLast( term ) {
       return split( term ).pop();
     }

     $( "#dependencies" )
       // don't navigate away from the field on tab when selecting an item
       .on( "keydown", function( event ) {
         if ( event.keyCode === $.ui.keyCode.TAB &&
             $( this ).autocomplete( "instance" ).menu.active ) {
           event.preventDefault();
         }
       })
       .autocomplete({
         minLength: 0,
         source: function( request, response ) {
           // delegate back to autocomplete, but extract the last term
           response( $.ui.autocomplete.filter(
             availableSystems, extractLast( request.term ) ) );
         },
         focus: function() {
           // prevent value inserted on focus
           return false;
         },
         select: function( event, ui ) {
           var terms = split( this.value );
           // remove the current input
           terms.pop();
           // add the selected item
           terms.push( ui.item.value );
           // add placeholder to get the comma-and-space at the end
           terms.push( "" );
           this.value = terms.join( ", " );
           return false;
         }
       });

    });//end ready


    </script>
    <style>
    #add_system_btn {
      float: right;
    }
    .s_label {
      width:120px;
      padding: 3px; }
    .s_value {
      float:right;
      width: 65%
      }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }

  </style>
  </head>
  <body>
    <div id="header"></div>

    <div id="dialog-form" title="Add new service">
    <form>
      <fieldset>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
        <label for="type">Type</label>
        <input type="text" name="type" id="type" value="" class="text ui-widget-content ui-corner-all">
        <label for="organization">Organization</label>
        <input type="text" name="organization" id="organization" value="" class="text ui-widget-content ui-corner-all">
        <label for="status">Status</label>
        <select name="status" id="status" lass="ui-widget-content ui-corner-all">
          <option value="100" selected="selected">Fully operational</option>
          <option value="50">Partially operational</option>
          <option value="0">Non-Operational</option>
        </select>
        <label for="status_description">Status description</label>
        <input type="text" name="status" id="status" value="" class="text ui-widget-content ui-corner-all">
        <label for="dependencies">Dependencies</label>
        <input name="dependencies" id="dependencies" size="50">
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>

  <div id="system_drill" title="Mission details">
    <div class="s_value" id="s_id"></div>
    <div class="s_label"><b>System ID</b></div>

    <div class="s_value" id="s_status"></div>
    <div class="s_label"><b>System Status</b></div>

    <div class="s_value" id="s_name"></div>
    <div class="s_label"><b>Service name</b></div>

    <div class="s_value" id="s_type"></div>
    <div class="s_label"><b>System Type:</b></div>

    <div class="s_value" id="s_organization"></div>
    <div class="s_label"><b>Organization:</b></div>

    <a class="s_value" id="s_deptree">View dependency tree</a>
    <div class="s_label"><b>Dependencies:</b></div>
    <div id="s_dependencies"> </div>
  </div>
  <div id="dependency_tree"></div>

    <h1>Services</h1>
    <div id="tabs">
    <ul>
      <li><a href="#tabs-1">My Services</a></li>
      <!--<li><a href="#tabs-3">Systems Map</a></li>-->
      <button class="ui-button ui-widget ui-corner-all" id="add_system_btn">Add Service</button>
    </ul>
    <div id="tabs-1">
      <div id="system_table"></div>
    </div>
    <!--<div id="tabs-3">
      <form action="#">
        <fieldset>
          <label for="mission_selector">Select an enclave</label>
          <select name="mission_selector" id="mission_selector">
            <option selected="selected">WPAFB</option>
            <option>Edwards AFB</option>
            <option>NIPR</option>
          </select>
        </fieldset>
      </form>
      <p>Pretty picture of selected mission</p>
      <p>Show map of systems in selected enclave?</p>
    </div>-->
  </div>
  </body>
</html>
